{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>
    Vérifier les informations du candidat
</title>
{% endblock title %}

{% block header %}
<h1 id="new_inscription" align="center">Préinscription au concours</h1>
{% endblock header %}

{% block section %}
    <div class="content-section">
       {% if error1 %}
          <div class="alert alert-danger text-center">Ce compte est desactiver</div>
          {% endif %}

          {% if error2 %}
          <div class="alert alert-danger text-center" id="login ">CIN ou mot depasse est incorrecte</div>
          {% endif %}

        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"></legend>
                    <table>
                        <thead>
                            <div style="background-color:#1593e7">
                                <h3 align="center">Modifications d'anciennes informations</h3>
                            </div>
                        </thead>
                        <tr>
                            <div align="center">
                                {{ form|crispy }}
                            </div>
                        </tr>
                    </table>
            </fieldset>
            <div class="form-group">
                <input type="submit" value="Valider">
            </div>
            <div class="form-group">
                <a href="{% url 'pages:checkmail' %}"></a>
            </div>
        </form>
    </div>
{% endblock section %}