{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>
    Inscription
</title>
{% endblock title %}

{% block header %}
<h1 id="new_inscription" align="center">Modifier informations</h1>
{% endblock header %}

{% block section %}

<form action="" method="post" id="candidatForm" data-lycees-url ="{% url 'pages:ajax_load_lycees' %}" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
            <table>
                <thead>
                    <div style="background-color:#1593e7">
                        <h3 align="center"> <p>Informations Personnelles</p> </h3>
                    </div>
                </thead>
                <tr>
                    <td>
                        <div>
                            CIN ou Passeport : <input type="text" value="{{candidat.cin_passeport}}" name="cin">
                        </div>
                    </td>
                    <td>
                        <div>
                            CNE ou Massar : <input type="text" value="{{candidat.cne_massar}}" name="cne">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            Nom : <input type="text" value="{{candidat.nom}}" name="nom">
                        </div>
                    </td>
                    <td>
                        <div>
                            Prénom : <input type="text" value="{{candidat.prenom}}" name="prenom">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            Date de naissance : <input type="text" value="{{candidat.dateNaissance}}" name="datenais">
                        </div>
                    </td>
                    <td>
                        <div>
                            Nationalité : 
                            <select name="nationalite">
                                <optgroup label="A">
                                    <option value="{{candidat.nationalite}}">{{candidat.nationalite}}</option>
                                    <option value="Afghanistan">Afghanistan</option>
                                    <option value="Afrique du Sud">Afrique du Sud</option>
                                    <option value="AL">Albanie</option>
                                    <option value="DZ">Algérie</option>
                                    <option value="DE">Allemagne</option>
                                    <option value="MK">Ancienne République yougoslave de Macédoine</option>
                                    <option value="AD">Andorre</option>
                                    <option value="AO">Angola</option>
                                    <option value="AI">Anguilla</option>
                                    <option value="AQ">Antarctique</option>
                                    <option value="AG">Antigua-et-Barbuda</option>
                                    <option value="AN">Antilles néerlandaises</option>
                                    <option value="SA">Arabie saoudite</option>
                                    <option value="AR">Argentine</option>
                                    <option value="AM">Arménie</option>
                                    <option value="AW">Aruba</option>
                                    <option value="AU">Australie</option>
                                    <option value="AT">Autriche</option>
                                    <option value="AZ">Azerbaïdjan</option>
                                </optgroup>
                                <optgroup label="B">
                            <option value="BS">Bahamas</option>
                                    <option value="BH">Bahreïn</option>
                                    <option value="BD">Bangladesh</option>
                                    <option value="BB">Barbade</option>
                                    <option value="BE">Belgique</option>
                                    <option value="BZ">Belize</option>
                                    <option value="BJ">Bénin</option>
                                    <option value="BM">Bermudes</option>
                                    <option value="BT">Bhoutan</option>
                                    <option value="BY">Biélorussie</option>
                                    <option value="BO">Bolivie</option>
                                    <option value="BA">Bosnie-et-Herzégovine</option>
                                    <option value="BW">Botswana</option>
                                    <option value="BR">Brésil</option>
                                    <option value="BN">Brunei Darussalam</option>
                                    <option value="BG">Bulgarie</option>
                                    <option value="BF">Burkina Faso</option>
                                    <option value="BI">Burundi</option>
                                </optgroup>
                                <optgroup label="C">
                            <option value="KH">Cambodge</option>
                                    <option value="CM">Cameroun</option>
                                    <option value="CA">Canada</option>
                                    <option value="CV">Cap-Vert</option>
                                    <option value="CL">Chili</option>
                                    <option value="CN">Chine</option>
                                    <option value="CY">Chypre</option>
                                    <option value="CO">Colombie</option>
                                    <option value="KM">Comores</option>
                                    <option value="CG">Congo</option>
                                    <option value="CR">Costa Rica</option>
                                    <option value="CI">Côte d'Ivoire</option>
                                    <option value="HR">Croatie</option>
                                    <option value="CU">Cuba</option>
                                </optgroup>
                                <optgroup label="D">
                            <option value="DK">Danemark</option>
                                    <option value="DJ">Djibouti</option>
                                    <option value="DM">Dominique</option>
                                </optgroup>
                                <optgroup label="E">
                            <option value="EG">Égypte</option>
                                    <option value="SV">El Salvador</option>
                                    <option value="AE">Émirats arabes unis</option>
                                    <option value="EC">Équateur</option>
                                    <option value="ER">Érythrée</option>
                                    <option value="ES">Espagne</option>
                                    <option value="EE">Estonie</option>
                                    <option value="FM">États fédérés de Micronésie</option>
                                    <option value="US">États-Unis</option>
                                    <option value="ET">Éthiopie</option>
                                </optgroup>
                                <optgroup label="F">
                            <option value="FJ">Fidji</option>
                                    <option value="FI">Finlande</option>
                                    <option value="FR">France</option>
                                </optgroup>
                                <optgroup label="G">
                            <option value="GA">Gabon</option>
                                    <option value="GM">Gambie</option>
                                    <option value="GE">Géorgie</option>
                                    <option value="GS">Géorgie du Sud-et-les Îles Sandwich du Sud</option>
                                    <option value="GH">Ghana</option>
                                    <option value="GI">Gibraltar</option>
                                    <option value="GR">Grèce</option>
                                    <option value="GD">Grenade</option>
                                    <option value="GL">Groenland</option>
                                    <option value="GP">Guadeloupe</option>
                                    <option value="GU">Guam</option>
                                    <option value="GT">Guatemala</option>
                                    <option value="GN">Guinée</option>
                                    <option value="GQ">Guinée équatoriale</option>
                                    <option value="GW">Guinée-Bissau</option>
                                    <option value="GY">Guyane</option>
                                    <option value="GF">Guyane française</option>
                                </optgroup>
                                <optgroup label="H">
                            <option value="HT">Haïti</option>
                                    <option value="HN">Honduras</option>
                                    <option value="HK">Hong Kong</option>
                                    <option value="HU">Hongrie</option>
                                </optgroup>
                                <optgroup label="I">
                            <option value="BV">Ile Bouvet</option>
                                    <option value="CX">Ile Christmas</option>
                                    <option value="NF">Île Norfolk</option>
                                    <option value="PN">Île Pitcairn</option>
                                    <option value="AX">Iles Aland</option>
                                    <option value="KY">Iles Cayman</option>
                                    <option value="CC">Iles Cocos (Keeling)</option>
                                    <option value="CK">Iles Cook</option>
                                    <option value="FO">Îles Féroé</option>
                                    <option value="HM">Îles Heard-et-MacDonald</option>
                                    <option value="FK">Îles Malouines</option>
                                    <option value="MP">Îles Mariannes du Nord</option>
                                    <option value="MH">Îles Marshall</option>
                                    <option value="UM">Îles mineures éloignées des États-Unis</option>
                                    <option value="SB">Îles Salomon</option>
                                    <option value="TC">Îles Turques-et-Caïques</option>
                                    <option value="VG">Îles Vierges britanniques</option>
                                    <option value="VI">Îles Vierges des États-Unis</option>
                                    <option value="IN">Inde</option>
                                    <option value="ID">Indonésie</option>
                                    <option value="IQ">Iraq</option>
                                    <option value="IE">Irlande</option>
                                    <option value="IS">Islande</option>
                                    <option value="IL">Israël</option>
                                    <option value="IT">Italie</option>
                                </optgroup>
                                <optgroup label="J">
                            <option value="LY">Jamahiriya arabe libyenne</option>
                                    <option value="JM">Jamaïque</option>
                                    <option value="JP">Japon</option>
                                    <option value="JO">Jordanie</option>
                                </optgroup>
                                <optgroup label="K">
                            <option value="KZ">Kazakhstan</option>
                                    <option value="KE">Kenya</option>
                                    <option value="KG">Kirghizistan</option>
                                    <option value="KI">Kiribati</option>
                                    <option value="KW">Koweït</option>
                                </optgroup>
                                <optgroup label="L">
                            <option value="LS">Lesotho</option>
                                    <option value="LV">Lettonie</option>
                                    <option value="LB">Liban</option>
                                    <option value="LR">Libéria</option>
                                    <option value="LI">Liechtenstein</option>
                                    <option value="LT">Lituanie</option>
                                    <option value="LU">Luxembourg</option>
                                </optgroup>
                                <optgroup label="M">
                            <option value="MO">Macao</option>
                                    <option value="MG">Madagascar</option>
                                    <option value="MY">Malaisie</option>
                                    <option value="MW">Malawi</option>
                                    <option value="MV">Maldives</option>
                                    <option value="ML">Mali</option>
                                    <option value="MT">Malte</option>
                                    <option value="MA">Maroc</option>
                                    <option value="MQ">Martinique</option>
                                    <option value="MU">Maurice</option>
                                    <option value="MR">Mauritanie</option>
                                    <option value="YT">Mayotte</option>
                                    <option value="MX">Mexique</option>
                                    <option value="MC">Monaco</option>
                                    <option value="MN">Mongolie</option>
                                    <option value="MS">Montserrat</option>
                                    <option value="MZ">Mozambique</option>
                                    <option value="MM">Myanmar</option>
                                </optgroup>
                                <optgroup label="N">
                            <option value="NA">Namibie</option>
                                    <option value="NR">Nauru</option>
                                    <option value="NP">Népal</option>
                                    <option value="NI">Nicaragua</option>
                                    <option value="NE">Niger</option>
                                    <option value="NG">Nigéria</option>
                                    <option value="NU">Niué</option>
                                    <option value="NO">Norvège</option>
                                    <option value="NC">Nouvelle-Calédonie</option>
                                    <option value="NZ">Nouvelle-Zélande</option>
                                </optgroup>
                                <optgroup label="O">
                            <option value="OM">Oman</option>
                                    <option value="UG">Ouganda</option>
                                    <option value="UZ">Ouzbékistan</option>
                                </optgroup>
                                <optgroup label="P">
                            <option value="PK">Pakistan</option>
                                    <option value="PW">Palaos</option>
                                    <option value="PA">Panama</option>
                                    <option value="PG">Papouasie-Nouvelle-Guinée</option>
                                    <option value="PY">Paraguay</option>
                                    <option value="NL">Pays-Bas</option>
                                    <option value="PE">Pérou</option>
                                    <option value="PH">Philippines</option>
                                    <option value="PL">Pologne</option>
                                    <option value="PF">Polynésie française</option>
                                    <option value="PR">Porto Rico</option>
                                    <option value="PT">Portugal</option>
                                    <option value="TW">Province chinoise de Taiwan</option>
                                </optgroup>
                                <optgroup label="Q">
                            <option value="QA">Qatar</option>
                                </optgroup>
                                <optgroup label="R">
                            <option value="SY">République arabe syrienne</option>
                                    <option value="CF">République centrafricaine</option>
                                    <option value="KR">République de Corée</option>
                                    <option value="MD">République de Moldavie</option>
                                    <option value="CD">République démocratique du Congo</option>
                                    <option value="DO">République dominicaine</option>
                                    <option value="IR">République islamique d'Iran</option>
                                    <option value="KP">République populaire démocratique de Corée</option>
                                    <option value="LA">République Populaire du Laos</option>
                                    <option value="CZ">République tchèque</option>
                                    <option value="TZ">République-Unie de Tanzanie</option>
                                    <option value="RE">Réunion</option>
                                    <option value="RO">Roumanie</option>
                                    <option value="GB">Royaume-Uni</option>
                                    <option value="RU">Russie</option>
                                    <option value="RW">Rwanda</option>
                                </optgroup>
                                <optgroup label="S">
                            <option value="EH">Sahara occidental</option>
                                    <option value="KN">Saint-Christophe-et-Niévès</option>
                                    <option value="SM">Saint-Marin</option>
                                    <option value="PM">Saint-Pierre-et-Miquelon</option>
                                    <option value="VA">Saint-Siège (Cité du Vatican)</option>
                                    <option value="VC">Saint-Vincent-et-les Grenadines</option>
                                    <option value="SH">Sainte-Hélène</option>
                                    <option value="LC">Sainte-Lucie</option>
                                    <option value="WS">Samoa</option>
                                    <option value="AS">Samoa américaines</option>
                                    <option value="ST">Sao Tomé-et-Principe</option>
                                    <option value="SN">Sénégal</option>
                                    <option value="CS">Serbie-et-Monténégro</option>
                                    <option value="SC">Seychelles</option>
                                    <option value="SL">Sierra Leone</option>
                                    <option value="SG">Singapour</option>
                                    <option value="SK">Slovaquie</option>
                                    <option value="SI">Slovénie</option>
                                    <option value="SO">Somalie</option>
                                    <option value="SD">Soudan</option>
                                    <option value="LK">Sri Lanka</option>
                                    <option value="SE">Suède</option>
                                    <option value="CH">Suisse</option>
                                    <option value="SR">Suriname</option>
                                    <option value="SJ">Svalbard et Jan Mayen</option>
                                    <option value="SZ">Swaziland</option>
                                </optgroup>
                                <optgroup label="T">
                            <option value="TJ">Tadjikistan</option>
                                    <option value="TD">Tchad</option>
                                    <option value="IO">Territoire britannique de l'océan Indien</option>
                                    <option value="TF">Territoire Francais du Sud</option>
                                    <option value="PS">Territoires palestiniens occupés</option>
                                    <option value="TH">Thaïlande</option>
                                    <option value="TL">Timor oriental</option>
                                    <option value="TG">Togo</option>
                                    <option value="TK">Tokelau</option>
                                    <option value="TO">Tonga</option>
                                    <option value="TT">Trinité-et-Tobago</option>
                                    <option value="TN">Tunisie</option>
                                    <option value="TM">Turkménistan</option>
                                    <option value="TR">Turquie</option>
                                    <option value="TV">Tuvalu</option>
                                </optgroup>
                                <optgroup label="U">
                            <option value="UA">Ukraine</option>
                                    <option value="UY">Uruguay</option>
                                </optgroup>
                                <optgroup label="V">
                            <option value="VU">Vanuatu</option>
                                    <option value="VE">Vénézuéla</option>
                                    <option value="VN">Vietnam</option>
                                </optgroup>
                                <optgroup label="W">
                            <option value="WF">Wallis-et-Futuna</option>
                                </optgroup>
                                <optgroup label="Y">
                            <option value="YE">Yémen</option>
                                </optgroup>
                                <optgroup label="Z">
                            <option value="ZM">Zambie</option>
                                    <option value="ZW">Zimbabwe</option>
                                </optgroup>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            Email : <input type="email" value="{{candidat.email}}" name="email">
                        </div>
                    </td>
                    <td>
                        <div>
                            Téléphone 1 : <input type="tel" value="{{candidat.telephone1}}" name="tel1">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            Adresse : <input type="text" value="{{candidat.addresse}}" name="adr">
                        </div>
                    </td>
                    <td>
                        <div>
                            Ville de résidence :
                            <select name="residence" id="">
                                <option value="{{candidat.ville}}">{{candidat.ville}}</option>
                                {% for city in cities %}
                                <option value="{{city.ville}}">{{city.ville}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
            <table>
                <thead>
                    <div style="background-color:#1593e7">
                        <h3 align="center"> <p>Choix de la licence</p> </h3>
                    </div>
                </thead>
                <tr>
                    <td>
                        <div>
                            Choisir code LP : 
                            <select name="lp" id="id_codeLPChoisie">
                                <option value="{{candidat.codeLPChoisie.code}}">{{candidat.codeLPChoisie.code}}</option>
                                {% for lp in lps %}
                                <option value="{{lp.code}}">{{lp.code}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
            <table>
                <thead>
                    <div style="background-color:#1593e7">
                        <h3 align="center"> <p>Informations sur le BAC</p> </h3>
                    </div>
                </thead>
                <tr>
                    <td>
                        <div>
                            Type de Bac : 
                            <select name="bac" id="">
                                <option value="{{candidat.codeBac}}">{{candidat.codeBac}}</option>
                                {% for bac in bacs %}
                                <option value="{{bac.code}}">{{bac.code}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td>
                        <div>
                            Année du Bac :
                            <select name="anneebac" id="">
                                <option value="{{candidat.annee_obtenetion_bac}}">{{candidat.annee_obtenetion_bac}}</option>
                                <option value="2020">2020</option>
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                                <option value="2017">2017</option>
                                <option value="2016">2016</option>
                                <option value="2015">2015</option>
                                <option value="2014">2014</option>
                                <option value="2013">2013</option>
                                <option value="2012">2012</option>
                                <option value="2011">2011</option>
                                <option value="2010">2010</option>
                            </select>
                        </div>
                    </td>
                </tr>
               <tr>
                <td>
                    <div>
                        Mention du Bac :
                        <select name="mentionbac" id="">
                            <option value="{{candidat.mentionBac}}">{{candidat.mentionBac}}</option>
                            {% for mention in mentions %}
                            <option value="{{mention.mention}}">{{mention.mention}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
                <td>
                    <div>
                        Academie :
                        <select name="academie" required_id="id_academie">
                            <option value="{{candidat.academie}}">{{candidat.academie}}</option>
                            {% for academie in academies %}
                            <option value="{{academie.academie}}">{{academie.academie}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
               </tr>
                <tr>
                    <td>
                        <div>
                            Lycée :
                            <select name="lycee" requred_id="id_lycee">
                                <option value="{{candidat.lycee}}">{{candidat.lycee}}</option>
                                {% for lycee in lycees %}
                                <option value="{{lycee.nom}}">{{lycee.nom}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                </tr>
            </table>
            <table>
                <thead>
                    <div style="background-color:#1593e7">
                        <h3 align="center"> <p>Informations Diplôme BAC + 2</p> </h3>
                    </div>
                </thead>
                <tr>
                    <td>
                        <div>
                            Diplome Bac + 2 :
                            <select name="bacplus2" id="id_diplomeBacPlus2">
                                <option value="{{candidat.diplomeBacPlus2}}">{{candidat.diplomeBacPlus2}}</option>
                                {% for diplome in diplomes %}
                                <option value="{{diplome.code}}">{{diplome.code}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td>
                        <div>
                            Etablissement diplome Bac + 2 :
                            <select name="etabacplus2" id="">
                                <option value="{{candidat.etablissementDiplomeBacPlus2}}">{{candidat.etablissementDiplomeBacPlus2}}</option>
                                {% for etablissement in etablissements %}
                                <option value="{{etablissement.etablissement}}">{{etablissement.etablissement}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            Année obtention diplome Bac + 2 :
                            <select name="anneebacplus2" id="">
                                <option value="{{candidat.anneeObtentionDiplomeBacPlus2}}">{{candidat.anneeObtentionDiplomeBacPlus2}}</option>
                                <option value="2020">2020</option>
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                                <option value="2017">2017</option>
                                <option value="2016">2016</option>
                                <option value="2015">2015</option>
                                <option value="2014">2014</option>
                                <option value="2013">2013</option>
                                <option value="2012">2012</option>
                                <option value="2011">2011</option>
                                <option value="2010">2010</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div>
                            Année obtention 1 ère année :
                            <select name="annee1ere" id="">
                                <option value="{{candidat.anneeObtention1ereAnnee}}">{{candidat.anneeObtention1ereAnnee}}</option>
                                <option value="2020">2020</option>
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                                <option value="2017">2017</option>
                                <option value="2016">2016</option>
                                <option value="2015">2015</option>
                                <option value="2014">2014</option>
                                <option value="2013">2013</option>
                                <option value="2012">2012</option>
                                <option value="2011">2011</option>
                                <option value="2010">2010</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            Spécialité diplome :
                            <select name="spdip" id="">
                                {% for specialite in specialites %}
                                <option value="{{specialite.specialite}}">{{specialite.specialite}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </td>
                    <td>
                        <div id="id_dominanceDiplome">
                            Dominance diplome : <input type="text" value="{{candidat.dominanceDiplome}}" name="domdip">
                        </div>
                    </td>
                </tr>
               <tr>
                <td>
                    <div>
                        Ville diplomeBacPlus2 :
                        <select name="villedipbacplus2" id="">
                            <option value="{{candidat.ville}}">{{candidat.ville}}</option>
                            {% for city in cities %}
                            <option value="{{city.ville}}">{{city.ville}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </td>
                <td>
                    <div>
                        Durée d'obtention du diplome :
                        <select name="dureedip" id="">
                            <option value="{{candidat.dureeObtentionDiplome}}">{{candidat.dureeObtentionDiplome}}</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                </td>
               </tr>
            </table>
            <table>
                <thead>
                    <div style="background-color:#1593e7">
                        <h3 align="center"> <p>Résultats Diplôme BAC + 2</p> </h3>
                    </div>
                </thead>
                <tr>
                    <td>
                        <div id="id_note1ereAnneeDiplome">
                            Note 1ère année : <input type="number" value="{{candidat.note1ereAnneeDiplome}}" name="note1ereannee">
                        </div>
                    </td>
                    <td>
                        <div id="id_note2ereAnneeDiplome">
                            Note 2ème année : <input type="number" value="{{candidat.note2ereAnneeDiplome}}" name="note2emeannee">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="id_noteObtentionDiplome">
                            Note obtention diplome : <input type="number" value="{{candidat.noteObtentionDiplome}}" name="noteobtentiondip" min="00.00" max="20.00">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="id_noteSemestre1">
                            Note semestre 1 : <input type="number" value="{{candidat.noteSemestre1}}" name="sem1">
                        </div>
                        <div id="id_noteSemestre2">
                            Note semestre 2 : <input type="number" value="{{candidat.noteSemestre2}}" name="sem2">
                        </div>
                    </td>
                    
                    <td>
                        <div id="id_noteSemestre3">
                            Note semestre 3 : <input type="number" value="{{candidat.noteSemestre3}}" name="sem3">
                        </div>
                        <div id="id_noteSemestre4">
                            Note semestre 4 : <input type="number" value="{{candidat.noteSemestre4}}" name="sem4">
                        </div>
                    </td>
                </tr>
            </table>
    <input type="submit" value="Valider">
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_academie").change(function () {
        const url = $("#candidatForm").attr("data-lycees-url");  // get the url of the `load_cities` view
        const academieId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'academie_id': academieId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_lycee").html(data);  // replace the contents of the city input with the data that came from the server
                
            }
        });

    });
</script>


<script>
    var select = document.getElementById("id_academie");
    var select = document.getElementById("id_lycee");
    var length= select.options.length;
    var lengtth= select2.options.length;

    for( i = length-1 ; i >= 0 ; i--) {
        select.options[i] = null;
    }

    for( i = lengtth-1 ; i >= 0 ; i--) {
        select2.options[i] = null;
    }
</script>

<script type="text/javascript" src=" https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script> 

<script>$(function() {
    $("#id_dominanceDiplome").hide();
    $("#id_note1ereAnneeDiplome").hide();
    $("#id_note2ereAnneeDiplome").hide();
    $("#id_noteObtentionDiplome").hide();
    $("#id_noteSemestre1").hide();
    $("#id_noteSemestre2").hide();
    $("#id_noteSemestre3").hide();
    $("#id_noteSemestre4").hide();
    $("#other_diplome").hide();

    $("#id_codeLPChoisie").change(function()
        {
            ($(this).val() == "MT") ? 
            $("#id_dominanceDiplome").show() : $("#id_dominanceDiplome").hide();
        });
        
    $("#id_diplomeBacPlus2").change(function()
    
        {
            if ($(this).val()  == "DUT" || $(this).val() == "BTS")
            {
                $("#id_note1ereAnneeDiplome").show();
                $("#id_note2ereAnneeDiplome").show();
            }

            else
            {
                $("#id_note1ereAnneeDiplome").hide();
                $("#id_note2ereAnneeDiplome").hide();
            }

            ($(this).val()  == "DTS") ?
                $("#id_noteObtentionDiplome").show() : $("#id_noteObtentionDiplome").hide();

            
                if ($(this).val()  == "DEUG" || $(this).val() == "DEUST" || $(this).val() == "DEUT")
            {
                $("#id_noteSemestre1").show();
                $("#id_noteSemestre2").show();
                $("#id_noteSemestre3").show();
                $("#id_noteSemestre4").show();
            }

            else
            {
                $("#id_noteSemestre1").hide();
                $("#id_noteSemestre2").hide();
                $("#id_noteSemestre3").hide();
                $("#id_noteSemestre4").hide();
            }
        });

        $("#id_codeBac").change(function()

        {
            ($(this).val() == "Autre") ? 
                $("#other_diplome").show() : $("#other_diplome").hide();
        }
        
        );
    
        
        });
</script>

{% endblock section %}